.numberCard, .NumberCardLines {
  height: 112px;
}

.numberCard {
  padding: 24px;
  margin-bottom: 24px;

  .iconWarp {
    font-size: 54px;
    float: left;
  }

  .content {
    width: 100%;
    padding-left: 78px;
    .title {
      line-height: 16px;
      font-size: 16px;
      margin-bottom: 8px;
    }
    .number {
      line-height: 32px;
      font-size: 24px;
      height: 32px;
      margin-bottom: 6px;
    }
  }
}


.numberCardLines {
  margin-bottom: 24px;

  .flexBox {
    display: flex;
  }

  .iconWarp {
    color: #fff;
    font-size: 56px;
    padding: 25px;
  }

  .content {
    flex: 1;
    padding: 16px;


    .title {
      line-height: 16px;
      font-size: 16px;
      margin-bottom: 8px;
      height: 16px;

    }

    .number {
      line-height: 32px;
      font-size: 24px;
      height: 32px;
      margin-bottom: 0;
    }
  }
}

.chart-row {
  margin: 0 -12px;
}
.chart-row [class^='ant-col'] {
  padding: 0 12px;
}
.chart-filter,
.chart-row {
  margin-bottom: 24px;
}
.chart-filter .chart-filter-input {
  margin-right: 20px;
}
.pie-chart-labels {
  text-align: center;
}
.pie-chart-labels .chart-text {
  display: inline-block;
  line-height: 20px;
  margin: 0 12px 12px;
}
.chart-text label {
  padding-left: 8px;
}
.chart-count {
  height: 200px;
  line-height: 200px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.barchart-wrapper .ant-card-body {
  padding-left: 0px;
}
