.ant-modal {
  width: 85% !important;
  margin: 0 auto;
}

.ant-modal-content {
  border-radius: 2px;
  border: 0;
  box-shadow: 0 2px 10px -3px rgba(0, 0, 0, 0.5);
  background: #fafafa;

  .ant-modal-header {
    padding: 15px 40px;
    border: 0;
    border-radius: 2px;
    background: $primary-color;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    .ant-modal-title {
      font-size: 16px;
      font-weight: normal;
      color: #fff;
    }
  }
  
  .ant-modal-body {
    padding: 30px 40px;
  }

  ul {
    overflow: scroll;

    .field-name {
      font-weight: 500;
    }
    .field-value {
      color: $primary-color;
      padding-left: 10px;
      font-weight: 700;
    }
  }
}
