.ant-modal {
  width: 85% !important;
  margin: 0 auto;
}

.ant-modal-content {
  border-radius: 2px;
  border: 0;
  box-shadow: 0 2px 10px -3px rgba(0, 0, 0, 0.5);
  background: #fafafa;

  .ant-modal-header {
    padding: 15px 40px;
    border: 0;
    border-radius: 2px;
    background: $primary-color;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    .ant-modal-title {
      font-size: 16px;
      font-weight: normal;
      color: #fff;
    }
  }
  
  .ant-modal-body {
    padding: 30px 40px;
  }

  ul {
    overflow: scroll;

    .field-name {
      font-weight: 500;
    }
    .field-value {
      color: $primary-color;
      padding-left: 10px;
      font-weight: 700;
    }
  }

  .log-box {
    border: 1px solid $primary-color;
    padding: 5px;
    margin: 5px;

    .data-label {
      font-size: 12px;
      text-transform: uppercase;
      color: $primary-color;

      &.success {
        color: $color-success;
      }
      &.warning {
        color: $color-warning;
      }
      &.danger {
        color: $color-danger;
      }
    }

    &.success {
      border-color: $color-success;

      .field-value {
        color: $color-success;
      }
    }
    &.warning {
      border-color: $color-warning;

      .field-value {
        color: $color-warning;
      }
    }
    &.danger {
      border-color: $color-danger;

      .field-value {
        color: $color-danger;
      }
    }
  }
}
