.ant-menu-item-selected > a, .ant-menu-item-selected, .ant-menu-item-selected > a:hover,
.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-item > a:hover, .ant-menu-submenu-active, .ant-menu-submenu-title:hover,
.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active, .ant-tabs-nav .ant-tabs-tab:hover {
  color: $primary-color;
}
.ant-menu-inline .ant-menu-item:after, .ant-menu-vertical .ant-menu-item:after,
.ant-input:hover, .ant-input:focus, .ant-select-selection:hover, .ant-select-selection:focus {
  border-color: $primary-color;
}
.ant-input:focus, .ant-select-selection:focus {
  box-shadow: 0 0 0 2px tint($primary-color, 80%);

}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected,
.ant-table-thead > tr.ant-table-row-hover > td, .ant-table-tbody > tr.ant-table-row-hover > td,
.ant-table-thead > tr:hover > td, .ant-table-tbody > tr:hover > td {
  background-color: $primary-color-shade;
}
a {
  color: $link-color;
  &:hover {
    color: $primary-color;
  }
}
.ant-pagination-item-active, .ant-btn-primary {
  border-color: $primary-color;
  background-color: $primary-color;
  transition: all 0.3s ease;
  &:hover, &:focus {
    background-color: tint($primary-color, 20%);
    border-color: tint($primary-color, 20%);
    a {
      color: #fff;
    }
  }
}
.ant-btn:hover, .ant-btn:focus, .ant-btn:active {
  border-color: tint($primary-color, 20%);
  background-color: tint($primary-color, 20%);
  color: #fff;
}

.ant-pagination-item, .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
  transition: all 0.3s ease;
  a {
    transition: color 0.3s ease;
  }
  &:hover, &:focus {
    border-color: $primary-color;
    a {
      color: $primary-color;
    }
  }
}
