$primary-color: rgb(244, 119, 33);
$primary-color-shade: rgba(244, 119, 33, 0.06);
$link-color: rgb(0, 153, 168);
$bg-color: #e5f4f6;

$padding-lg: 24px; // containers
$padding-md: 16px; // small containers and buttons
$padding-sm: 12px; // Form controls and items
$padding-xs: 8px;

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@import 'dataDisplay';

.bg-white {
  background-color: #fff;
}

.pull-right {
  float: right;
}

.hidden {
  display: none;
}

.ant-menu-item > a {
  display: inline-block;
}

.logo {
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  img {
    height: auto;
    width: 60px;
    max-width: 100%;
  }
}

.bordered {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 3px;
}

//layout
.ant-layout-footer {
  text-align: center;
  z-index: 0;
}
.ant-menu-horizontal.ant-menu-root {
  border: none;
  background: #fff;
  padding: 0;
  box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
  padding-right: 16px;
  z-index: 1;

  .ant-avatar {
    width: 27px;
    height: 27px;
    line-height: 27px;
    font-size: 16px;
    top: 9px;
    margin-right: 8px;
    * {
      line-height: 26px;
    }
  }

  &:not(.landing) {
    margin-bottom: 24px;
  }
}
.ant-layout-sider {
  position: relative;
  background: #fff;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.02);
  position: fixed;
  height: 100vh;
  left: 0;
  z-index: 2;
  ul li > a {
    opacity: 1;
    transition: all 0.2s ease;
  }
  &.ant-layout-sider-collapsed {
    ul li > a {
      opacity: 0;
    }
    ul li ul li a {
      opacity: 1;
    }
  }
  .ant-menu-sub.ant-menu-inline > .ant-menu-item, .ant-menu-item {
    line-height: 16px;
    padding: 10px 0;
    height: auto;
    a {
      white-space: normal;
      padding-right: 36px;
    }
  }
  &.ant-layout-sider-collapsed {
    .ant-menu-sub.ant-menu-inline > .ant-menu-item, .ant-menu-item {
      a {
        white-space: nowrap;
      }
    }
  }
}

.main-wrapper.mn.ant-layout {
  .ant-menu-item.multi-line {
    i {
      position: relative;
      top: -8px;
    }
  }
}

.ant-layout-sider-trigger {
  background: transparent;
  i {
    color: #333;
  }
}
.ant-layout,
.ant-layout-footer {
  background: $bg-color;
}
.ant-menu-inline,
.ant-menu-vertical {
  border: none;
}
.ant-layout-content {
  margin: 0 24px;
}
.ant-breadcrumb {
  margin: 14px 0 14px 24px;
  float: left;
}

i.success {
  color: green;
}
.preq-form {
  .ant-calendar-picker {
    width: calc(100% - 16px);
  }
  .ant-row.ant-form-item {
    margin-bottom: 10px !important;
  }
}
.multiple-wrapper {
  padding: 8px 0;
}
.ant-card:not(.ant-card-no-hovering):hover {
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
  border-color: transparent;
}

.ant-card-head-title {
  font-size: 13px;
  white-space: normal;
}

.ant-checkbox-group.horizontal .ant-checkbox-group-item {
  display: block;
  padding: 5px 0;
}

.margin {
  margin-top: 16px;
}

.table-operations {
  padding-bottom: 16px;
  text-align: right;
  .ant-btn {
    margin-right: 8px;
  }
  a.ant-btn {
    line-height: 26px;
    .anticon {
      margin-right: 8px;
    }
  }
}

.send-rfq .ant-select-lg {
  width: 164px;
}

.rfq-form-row {
  display: flex;
  overflow: scroll;
  .ant-input {
    width: 164px;
  }
}

.form-table {
  .ant-row.ant-form-item {
    margin: 0;
    display: block;
  }
  .ant-input.ant-input-disabled,
  .ant-select-disabled .ant-select-selection,
  .ant-upload-disabled .ant-btn {
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0.65);
  }
  .ant-upload-disabled .ant-btn {
    color: #fff;
    cursor: not-allowed;
  }
}

.right {
  float: right !important;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px)
}

.home-landing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.home-container {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  height: 100vh;
}

.home-landing {
  .top {
    position: absolute;
    z-index: 10;
    overflow: hidden;
    padding: 20px 20px 10px;
    -webkit-box-shadow: 0px 5px 19px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 19px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 19px 5px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    .text {
      margin-top: 20px;
      font-size: 15px;
      font-style: italic;
    }
    
    ul {
      overflow: hidden;
      list-style: none;
      padding: 0;
      li {
        float: left;
        padding: 5px 10px;
        margin-right: 1px;
        background-color: #e37222;
        &:hover {
          background-color: #e68744;
        }
        a {
          display: block;
          color: #fff;
        }
      }
    }
    .logo {
      float: right;
    }
  }
  
  h1 {
    margin: 0 0 20px;
    font-weight: bold;
    font-size: 60px;
    line-height: 50px;
    color: #009aa6;
  }
  
  h2 {
    font-size: 15px;
    color: #009aa6;
  }
  
  .bottom {
    position: absolute;
    bottom: 0;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-shadow: 0px 5px 19px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 19px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 19px 5px rgba(0, 0, 0, 0.3);
  }
  
  .desc {
    height: 249px;
    background-color: #009aa6;
    padding: 15px;
    p {
      color: #fff;
      font-size: 14px;
    }
  }
  
  .footer {
    margin-top: 15px;
    background-color: #1f497d;
    padding: 15px 15px 5px;
    p {
      color: #fff;
    }
  }
  
  .item {
    display: block;
  }
  
  .program {
    background-color: #1f497d;
  }
  
  .calendar {
    background-color: #e37222;
  }
  
  .bottom {
    .text {
      padding: 10px;
      color: #fff;
      font-size: 13px;
    }
    h3 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 15px;
    }
    img {
      width: 100%;
      height: 190px;
    }
  }
}

.login-card {
  width: 400px;
  padding: 26px 15px 15px 15px;
  button {
    width: 100%;
  }
  form .ant-form-item:last-child {
    margin-bottom: 0;
  }
}

.main.ant-layout {
  min-height: 100vh;
  transition: margin-left 0.2s ease;
}

.ant-menu.landing {
  line-height: 64px;
}

.logo.landing {
  height: auto;
  margin-left: 16px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #e3e3e3;
}

.ant-pagination {
  margin: 0 auto;
  display: table;
  margin-top: 16px;
  margin-bottom: 16px;
  float: none;
}

.card-container > .ant-tabs-card > .ant-tabs-content {
  margin-top: -16px;
}
.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}
.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}
.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}
.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

//forms
.ant-form-item-label {
  white-space: normal;
  line-height: 18px;
  margin-bottom: 6px;
  text-align: left;
}

form .ant-input-number {
  width: 100%;
}

.supplier-forms {
  max-width: 1000px;
  .ant-card {
    margin-bottom: 16px;
    .ant-card-body {
      padding-bottom: 0;
    }
  }
  .ant-btn-dashed {
    width: 100%;
    display: block;
    margin-top: 12px;
  }
  .ant-form {
    h2 {
      margin: 24px 0 8px 0;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  .audit-question {
    margin-bottom: 24px;
    .ant-row.ant-form-item {
      margin-bottom: 0;
    }
  }
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  padding: 6px;
  word-break: normal;
}

.ant-table-tbody > tr > td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ant-table-thead > tr > th {
  font-size: 10px;
}

.ant-table-row.highlight {
  background-color: tint($link-color, 95);
}

.loading {
  min-height: 50vh;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-pad-bottom .ant-card-body {
  padding-bottom: 0;
}

.rdw-editor-main {
  height: 372px;
}

[class*='dashed-button'] {
  background: #fff;
  border-style: dashed;
}
.dashed-button-big {
  width: 100%;
  margin-top: 16px;
}

.ant-select-tree {
  max-height: 600px;
  overflow-y: auto;
}

.ant-tag {
  margin-bottom: 8px;
}

.upload-btn-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
  &:hover {
    .ant-btn {
      cursor: pointer;
      color: #ff9a4d;
      border-color: #ff9a4d;
      span {
        z-index: 0;
        cursor: pointer;
      }
    }
  }
  .ant-btn {
    z-index: 0;
  }
  input[type='file'] {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.capitalize {
  text-transform: capitalize;
}

.suppliers-search {
  .anticon-close-circle {
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
    font-size: 12px;
  }
  .anticon-close-circle:hover {
    color: #999;
  }
  .anticon-close-circle:active {
    color: #666;
  }
  width: 200px;
  float: left;
}

.radio-vertical {
  .ant-radio-wrapper {
    display: block;
    padding: 8px 0;
  }
}

.disabled-inputs {
  .ant-input,
  .ant-select-selection {
    pointer-events: none;
    border: none;
  }
  .ant-btn,
  .ant-upload,
  .has-success.has-feedback:after,
  .ant-select-arrow {
    display: none;
  }
}

.registration-title {
  max-width: 1000px;
  text-align: center;
  margin-bottom: 24px;
}

.user-register-form {
  .ant-form-item {
    margin-bottom: 10px;
  }
}

.ant-popover-content {
  max-width: 400px;
  ul,
  ol {
    margin: 8px 0;
    padding-left: 16px;
  }
}

.users-search {
  .ant-input-suffix {
    cursor: pointer;
  }
}

.ant-select-dropdown-menu-item {
  white-space: normal;
}

.report-btn {
  display: block;
  width: 100%;
  margin-top: 24px;
}

.user-phone {
  .ant-input-number-handler-wrap {
    display: none;
  }
}

.evidence-check {
  label {
    position: relative;
    padding-left: 24px !important;

    span.ant-checkbox {
      position: absolute;
      top: 6px;
      left: 0;
    }

    span {
      padding: 0;
    }
  }
}

.ant-table-thead th span {
  text-transform: capitalize;
}

a.sn {
  font-weight: 600;
  color: #333;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.ant-upload-list-item-name {
  max-width: 150px;
}

.login-as-form {
  list-style: none;
  li {
    color: $link-color;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.suppliers-count {
  font-size: 30px;
  text-align: center;

  small {
    margin: 0 8px;
    color: #ccc;
    font-size: 26px;
    font-weight: 100;
  }
}

table.suppliers-filter {
  width: 100%;

  .ant-select {
    display: block;
    width: 110px;
  }
}

.card-columns {
  .ant-card {
    margin-bottom: $padding-lg;
  }
}

.tenders-table {
  .anticon {
    position: relative;
    top: 3px;
  }
}

.video-modal {
  .ant-modal-body {
    padding: 0;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

table.mass-email-response {
  tr td {
    border-bottom: 1px solid #ddd;
    padding: 6px 12px;

    &:last-child {
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 1px;
      font-weight: 600;
    }
  }
}

.clickable {
  cursor: pointer;
}

.app-name {
  text-align: left;
  margin-bottom: 64px;
  color: #fff;
}

.app-name strong {
  font-size: 55px;
  text-transform: uppercase;
  display: inline-block;
  padding-right: 25px;
}

.app-name span {
  font-size: 22px;
}

.finance-stat {
  display: inline-block;
  margin-right: 10px;
}

.finance-stat {
  .year {
    color: #bbbaba;
  }
}

.finance-stat.not-changed {
  color: #bdbd5f;
}

.finance-stat.up {
  color: green;
}

.finance-stat.up::after {
  content: "\2191";
}

.finance-stat.down {
  color: red;
}

.finance-stat.down::after {
  content: "\2193";
}

.products-tree-select {
  width: 450px !important;
}
