$primary-color: rgb(244,119,33);
$primary-color-shade: rgba(244,119,33,0.06);
$link-color: rgb(0,153,168);

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@import "override";

.hidden {
  display: none;
}

.ant-menu-item > a {
  display: inline-block;
}

.logo {
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  img {
    height: auto;
    width: 60px;
    max-width: 100%;
  }
}

.bordered {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 3px
}

//layout
.ant-layout-footer {
  text-align: center;
}
.ant-menu-horizontal.ant-menu-root {
  border: none;
  background: #fff;
  padding: 0;
  box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  padding-right: 16px;
  z-index: 1;
}
.ant-layout-sider {
  position: relative;
  background: #fff;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.02);
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 2;
}
.ant-layout-sider-trigger {
  background: transparent;
  i {
    color: #333;
  }
}
.ant-layout, .ant-layout-footer {
  background: #f9f9f9;
}
.ant-menu-inline, .ant-menu-vertical {
  border: none;
}
.ant-layout-content {
  margin: 0 24px;
}
.ant-breadcrumb {
  margin: 16px 0;
}

.card-container > .ant-tabs-card > .ant-tabs-content {
  margin-top: -16px;
}
.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}
.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}
.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}
.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}
i.success {
  color: green;
}
.preq-form {
  .ant-calendar-picker {
    width: calc(100% - 16px);
  }
  .ant-row.ant-form-item {
    margin-bottom: 10px;
  }
}
.multiple-wrapper {
  padding: 8px 0;
}
.ant-card:not(.ant-card-no-hovering):hover {
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
  border-color: transparent;
}

.ant-checkbox-group.horizontal .ant-checkbox-group-item {
  display: block;
  padding: 5px 0;
}

.margin {
  margin-top: 16px;
}

.table-operations {
  padding-bottom: 16px;
  text-align: right;
  .ant-btn {
    margin-right: 8px;
  }
  a.ant-btn {
    line-height: 24px;
  }
}

.rdw-editor-wrapper {
  padding-top: 16px;
}

.send-rfq .ant-select-lg {
  width: 164px;
}

.rfq-form-row {
  display: flex;
  overflow: scroll;
  .ant-input {
    width: 164px;
  }
}

.form-table {
  .ant-row.ant-form-item {
    margin: 0;
    display: block;
  }
}

.right {
  float: right !important;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 164px);
}

.login-card {
  width: 350px;
  padding: 26px 15px 15px 15px;
  button {
    width: 100%;
  }
  form .ant-form-item:last-child {
    margin-bottom: 0;
  }
}

.main.ant-layout {
  min-height: 100vh;
}

.ant-menu.landing {
  line-height: 64px;
  margin-bottom: 30px;
}

.logo.landing {
  height: auto;
  margin-left: 16px;
  img {
    position: relative;
    top: 12px;
  }
}

.home-landing {
  text-align: center;

  h1 {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 26px;
    line-height: 60px;
    color: $link-color;
  }
  p {
    font-size: 16px;
    margin-bottom: 32px;
  }
  [class^=home-btn] {
    line-height: 38px;
    padding: 0 15px;
    display: inline-block;
    font-size: 20px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  .home-btn {
    background-color: $primary-color;
    color: #fff;
    margin-right: 16px;
    &:hover {
      background-color: tint($primary-color, 15)
    }
  }
  .home-btn-transparent {
    color: $link-color;
    &:hover {
      color: $primary-color;
    }
  }
}
