$primary-color: rgb(244,119,33);
$primary-color-shade: rgba(244,119,33,0.06);
$link-color: rgb(0,153,168);

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@import "override";

.hidden {
  display: none;
}

.ant-menu-item > a {
  display: inline-block;
}

.logo {
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  img {
    height: auto;
    width: 60px;
    max-width: 100%;
  }
}

//layout
.ant-layout-header {
  background: #fff;
  padding: 0;
  box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}
.ant-layout-sider {
  position: relative;
  background: #fff;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.01);
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  position: fixed;
  left: 0
}
.ant-layout-sider-trigger {
  background: transparent;
  i {
    color: #333;
  }
}
.ant-layout, .ant-layout-footer {
  background: #f9f9f9;
}
.ant-menu-inline, .ant-menu-vertical {
  border: none;
}
.ant-layout-content {
  margin: 0 24px;
}
.ant-breadcrumb {
  margin: 16px 0;
}

.card-container > .ant-tabs-card > .ant-tabs-content {
  margin-top: -16px;
}
.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}
.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}
.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}
.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}
i.success {
  color: green;
}
.preq-form {
  .ant-calendar-picker {
    width: calc(100% - 16px);
  }
  .ant-row.ant-form-item {
    margin-bottom: 10px;
  }
}
.multiple-wrapper {
  padding: 8px 0;
}
.ant-card:not(.ant-card-no-hovering):hover {
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
  border-color: transparent;
}
