.ant-menu-item > a {
  display: inline-block;
}

.logo {
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  img {
    height: auto;
    width: 60px;
    max-width: 100%;
  }
}

.ant-layout-sider-trigger {
  background: transparent;
  i {
    color: #333;
  }
}

.ant-layout, .ant-layout-footer {
  background: #f8f8f8;
}

.ant-menu-inline, .ant-menu-vertical {
  border: none;
}
