$primary-color: rgb(244,119,33);
$primary-color-shade: rgba(244,119,33,0.06);
$link-color: rgb(0,153,168);
$bg-color: #f9f9f9;

$padding-lg    : 24px; // containers
$padding-md    : 16px; // small containers and buttons
$padding-sm    : 12px; // Form controls and items
$padding-xs    : 8px;

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@import "dataDisplay";

.hidden {
  display: none;
}

.ant-menu-item > a {
  display: inline-block;
}

.logo {
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  img {
    height: auto;
    width: 60px;
    max-width: 100%;
  }
}

.bordered {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 3px
}

//layout
.ant-layout-footer {
  text-align: center;
}
.ant-menu-horizontal.ant-menu-root {
  border: none;
  background: #fff;
  padding: 0;
  box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
  padding-right: 16px;
  z-index: 1;
  .ant-avatar {
    width: 27px;
    height: 27px;
    line-height: 27px;
    font-size: 16px;
    top: 9px;
    margin-right: 8px;
    * {
      line-height: 26px;
    }
  }
}
.ant-layout-sider {
  position: relative;
  background: #fff;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.02);
  position: fixed;
  height: 100vh;
  left: 0;
  z-index: 2;
  ul li > a {
    opacity: 1;
    transition: all 0.2s ease;
  }
  &.ant-layout-sider-collapsed {
    ul li > a {
      opacity: 0;
    }
    ul li ul li a {
      opacity: 1;
    }
  }
}
.ant-layout-sider-trigger {
  background: transparent;
  i {
    color: #333;
  }
}
.ant-layout, .ant-layout-footer {
  background: $bg-color;
}
.ant-menu-inline, .ant-menu-vertical {
  border: none;
}
.ant-layout-content {
  margin: 0 24px;
}
.ant-breadcrumb {
  margin: 16px 0;
}

i.success {
  color: green;
}
.preq-form {
  .ant-calendar-picker {
    width: calc(100% - 16px);
  }
  .ant-row.ant-form-item {
    margin-bottom: 10px !important;
  }
}
.multiple-wrapper {
  padding: 8px 0;
}
.ant-card:not(.ant-card-no-hovering):hover {
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
  border-color: transparent;
}

.ant-checkbox-group.horizontal .ant-checkbox-group-item {
  display: block;
  padding: 5px 0;
}

.margin {
  margin-top: 16px;
}

.table-operations {
  padding-bottom: 16px;
  text-align: right;
  .ant-btn {
    margin-right: 8px;
  }
  a.ant-btn {
    line-height: 26px;
    .anticon {
      margin-right: 8px;
    }
  }
}

.send-rfq .ant-select-lg {
  width: 164px;
}

.rfq-form-row {
  display: flex;
  overflow: scroll;
  .ant-input {
    width: 164px;
  }
}

.form-table {
  .ant-row.ant-form-item {
    margin: 0;
    display: block;
  }
  .ant-input.ant-input-disabled, .ant-select-disabled .ant-select-selection, .ant-upload-disabled .ant-btn {
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0.65);
  }
  .ant-upload-disabled .ant-btn {
    color: #fff;
    cursor: not-allowed;
  }
}

.right {
  float: right !important;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 264px);
}

.login-card {
  width: 400px;
  padding: 26px 15px 15px 15px;
  button {
    width: 100%;
  }
  form .ant-form-item:last-child {
    margin-bottom: 0;
  }
}

.main.ant-layout {
  min-height: 100vh;
  transition: margin-left 0.2s ease;
}

.ant-menu.landing {
  line-height: 64px;
  margin-bottom: 30px;
}

.logo.landing {
  height: auto;
  margin-left: 16px;
}

.home-landing {
  text-align: center;

  h1 {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 26px;
    line-height: 60px;
    color: $link-color;
  }
  p {
    font-size: 16px;
    margin-bottom: 32px;
  }
  [class^=home-btn] {
    line-height: 38px;
    padding: 0 15px;
    display: inline-block;
    font-size: 20px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  .home-btn {
    background-color: $primary-color;
    color: #fff;
    margin-right: 16px;
    &:hover {
      background-color: tint($primary-color, 15)
    }
  }
  .home-btn-transparent {
    color: $link-color;
    &:hover {
      color: $primary-color;
    }
  }
}

*::-webkit-scrollbar-track
{
	background-color: transparent;
}

*::-webkit-scrollbar
{
	width: 8px;
  height: 7px;
	background-color: transparent;
}

*::-webkit-scrollbar-thumb
{
	background-color: #e3e3e3;
}

.ant-pagination.ant-table-pagination {
  margin: 0 auto;
  display: table;
  margin-top: 16px;
  margin-bottom: 16px;
  float: none;
}

.card-container > .ant-tabs-card > .ant-tabs-content {
  margin-top: -16px;
}
.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}
.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}
.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}
.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

//forms
.ant-form-item-label {
  white-space: normal;
  line-height: 18px;
  margin-bottom: 6px;
  text-align: left;
}

form .ant-input-number {
  width: 100%;
}

.supplier-forms {
  max-width: 1000px;
  .ant-card {
    margin-bottom: 16px;
    .ant-card-body {
      padding-bottom: 0;
    }
  }
  .ant-btn-dashed {
    width: 100%;
    display: block;
    margin-top: 12px;
  }
  .ant-form {
    h2 {
      margin: 24px 0 8px 0;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.ant-table-row.highlight {
  background-color: tint($link-color, 95);
}

.loading {
  min-height: 50vh;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-pad-bottom .ant-card-body {
  padding-bottom: 0;
}

.rdw-editor-main {
  height: 372px;
}

[class*=dashed-button] {
  background: #fff;
  border-style: dashed;
}
.dashed-button-big {
  width: 100%;
  margin-top: 16px;
}

.ant-select-tree {
  max-height: 600px;
  overflow-y: auto;
}

.ant-tag {
  margin-bottom: 8px;
}

.ant-divider {
  margin: 0 6px;
  display: inline-block;
  height: 8px;
  width: 1px;
  background: #ccc;
}

.upload-btn-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
  &:hover {
    .ant-btn {
      cursor: pointer;
      color: #ff9a4d;
      border-color: #ff9a4d;
      span {
        z-index: 0;
        cursor: pointer;
      }
    }
  }
  .ant-btn {
    z-index: 0;
  }
  input[type=file] {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.capitalize {
  text-transform: capitalize;
}

.suppliers-search {
  .anticon-close-circle {
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
    font-size: 12px;
  }
  .anticon-close-circle:hover {
    color: #999;
  }
  .anticon-close-circle:active {
    color: #666;
  }
  width: 200px;
  float: left;
}

.radio-vertical {
  .ant-radio-wrapper {
    display: block;
    padding: 8px 0;
  }
}
